@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
   scrollbar-width: thin;
   scrollbar-color: #397524 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
   height: 2px;
   width: 2px;
}
*::-webkit-scrollbar-track {
   border-radius: 4px;
   background-color: transparent;
}

*::-webkit-scrollbar-thumb {
   @apply border-r-4 dark:bg-neutral-content/30;
}

*::-webkit-scrollbar-thumb:hover {
   @apply dark:bg-neutral-content/50;
}

*::-webkit-scrollbar-thumb:active {
   @apply dark:bg-neutral-content/50;
}
