@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   #root {
      background: rgb(56, 0, 113);
      background: -moz-linear-gradient(
         90deg,
         rgba(56, 0, 113, 1) 0%,
         rgba(0, 1, 72, 1) 100%
      );
      background: -webkit-linear-gradient(
         90deg,
         rgba(56, 0, 113, 1) 0%,
         rgba(0, 1, 72, 1) 100%
      );
      background: linear-gradient(
         90deg,
         rgba(56, 0, 113, 1) 0%,
         rgba(0, 1, 72, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#380071",endColorstr="#000148",GradientType=1);
   }
}

/* Firefox */
* {
   /* scrollbar-width: thin; */
   scrollbar-color: #474766 transparent;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
   height: 2px;
   width: 2px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track:hover {
   border-radius: 4px;
   background-color: transparent;
   width: 0;
}

*::-webkit-scrollbar-thumb {
   border-radius: 4px;
   border: 2px solid #1e1e2b; /* Adjust the border color */
}

*::-webkit-scrollbar-thumb:hover {
   background-color: #1e1e2b; /* Adjust the background color on hover */
}

*::-webkit-scrollbar-thumb:active {
   background-color: #1e1e2b; /* Adjust the background color on active */
}
